/* .header{
    width:100%;
    height:64px;
    display:flex;
    justify-content:center;
    align-items:center;
}


.header__nav{
    width:100%;
    max-width: 1440px;
    display:flex;
    justify-content:space-between;
    align-items: center;  
    padding: 0px 10px; 
}
.nav__logo{
    margin-left:10px;
}

.nav__logo img{
    width:auto;
    height:auto;
}

.nav__link{
    display:flex;
    gap:24px;
    padding:10px;

}

.nav__link a{
    text-decoration:none;
    color:var(--raisin-color);  
    font-size:var(--navbar-font-size);
    font-weight: var(--navbar-font-weight);
    
    
}

.nav__link button{
    border:none;
    background: none;
    cursor:pointer;
}

.nav__link button:hover{
    cursor:pointer;
}


.nav__mobile-menu {
    display:none;
    
}


.mobile-menu{
    position:fixed;
    top:0;
    right:0px;
    right:-100%;
    width:300px;
    height:100%;
  
    background-color: rgb(var(--salmon-color));

    z-index:1000;
    transition:right 0.3s ease;
}


.mobile-menu__nav{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0px;
    margin-top:60px;
    
  
}

.mobile-menu__nav button{
    padding:10px 95px;
    background-color: rgb(var(--salmon-color));
    border:none;
   
}

.mobile-menu__nav button a{
    text-decoration: none;
    color:rgb(var(--raisin-color));
    font-size: large;
}

.mobile-menu__close{
    position:absolute;
    top:20px;
    right:20px;
    background: none;
    border:none;
    font-size:30px;
    cursor:pointer;
}

.mobile-menu--open{
    right:0px;
}

 */


 .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index:1001;
  }
  
  .nav__logo-img {
    height: 100px;
  }
  
  .nav__links {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
  
  .nav__link {
    text-decoration: none;
    color: rgb(var(--raisin-color));
    font-size: var(--navbar-font-size);
    font-weight: var(--navbar-font-weight);
    transition: color 0.3s ease; /* Ajout d'une transition pour un effet hover doux */
  }
  

.nav__mobile-menu{
    background-color:rgb(var(--beige-color));
    border:none;

}



  .mobile-menu {
    display: none; /* Par défaut, le menu est caché */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.9);
    color: white;
    z-index: 1000;
    transition: color 0.3s ease; /* Animation de transition douce */
    pointer-events:none;
  }
  
  .mobile-menu--open {
    display: block; /* Le menu devient visible quand il est ouvert */
    opacity:1;
    pointer-events:auto;
  }
  
  .mobile-menu__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  
  .mobile-menu__links {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 2rem;
  }
  
  .mobile-menu__link {
    text-decoration: none;
    color: rgb(var(--secondary-color));
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: block;
    transition: color 0.3s ease; /* Ajout d'une animation pour hover */

    
  }
 

  .mobile-menu__link:hover {
    color: rgb(var(--accent-color));/* Accentuez au survol */
  }